.box {
  background-color: blueviolet !important;
}

#unicoBox {
  background-color: aquamarine;
}

.science-gothic {
  font-family: "Science Gothic", sans-serif;
  font-weight: 500;
}


/* Escenario plataformas */

.escenario {
  position: relative;
  width: 500px;
  height: 300px;
  /*   overflow: hidden; */
  border: 1px solid black;
}

.cielo {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #87CEEB, #B0E0E6);
}

.sol {
  position: absolute;
  margin: auto;
  bottom: -37px;
  left: 0;
  right: 0;
  z-index: 1;
  width: 80px;
  height: 80px;
  background: #ff7f00;
  border-radius: 50%;
  box-shadow: 0 0 40px #FFA500;
}

.nube {
  position: absolute;
  background: white;
  border-radius: 100px;
  opacity: 0.8;
}

.nube1 {
  top: 80px;
  left: 15%;
  width: 100px;
  height: 40px;
}

.nube2 {
  top: 120px;
  right: 20%;
  width: 120px;
  height: 45px;
}

.bosque-fondo {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60%;
  background: linear-gradient(to bottom, #228B22, #355E3B);
}

.suelo {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  background: #8B4513;
  border-top: 5px solid #654321;
}

.pasto {
  position: absolute;
  bottom: 80px;
  width: 100%;
  height: 30px;
  background: #228B22;
}

.plataforma {
  position: absolute;
  background: #8B4513;
  border: 3px solid #654321;
  border-radius: 10px;
}

.plataforma1 {
  bottom: 200px;
  right: 15%;
  width: 200px;
  height: 25px;
}

.plataforma2 {
  bottom: 350px;
  left: 40%;
  width: 180px;
  height: 25px;
}

.plataforma3 {
  bottom: 40%;
  right: 10%;
  width: 220px;
  height: 25px;
}

/* ========================= */
/* CONTENEDOR PRINCIPAL */
/* ========================= */

.contenedor-juegos {
    width: 90%;
    min-height: 10vh;
    padding: 30px;
    background-color: beige;
    text-align: center;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
    margin: 30px;
}


/* ========================= */
/* CONTENEDOR TARJETA PRINCIPAL */
/* ========================= */

.juego {
    display: inline-block;
    position: relative;
    width: 400px;
    min-width: 400px;
    height: 400px;
    overflow: hidden;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
    margin: 20px;
}


/* ========================= */
/* IMAGEN PRINCIPAL */
/* ========================= */

.hero-imagen {
    height: 70%;
    width: 100%;
    object-fit: cover;
}


/* ========================= */
/* FONDO DE COLOR INCLINADO */
/* ========================= */

.hero-fondo {
    background-image: linear-gradient(0deg, #00157b, #52b4df);
    border-radius: 30px;
    position: absolute;
    top: 55%;
    left: -5px;
    height: 65%;
    width: 108%;
}

/* Color diferente para la tarjeta 2 */
.tarjeta-2 .hero-fondo {
    background-image: linear-gradient(-20deg, #044307, #12a614);
}

/* Color diferente para la tarjeta 3 */
.tarjeta-3 .hero-fondo {
    background-image: linear-gradient(-20deg, #5c0707, #c63131);
}


/* ========================= */
/* LOGO */
/* ========================= */

.hero-logo {
    height: 80px;
    width: 80px;
    border-radius: 20px;
    background-color: #fff;
    position: absolute;
    bottom: 40%;
    left: 160px;
    overflow: hidden;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.7);
}

.hero-logo img {
    height: 100%;
}


/* ========================= */
/* DESCRIPCIÓN */
/* ========================= */

.hero-descripcion {
    position: absolute;
    color: #fff;
    font-weight: 900;
    left: 10px;
    bottom:16%;
}


/* ========================= */
/* BOTÓN */
/* ========================= */

.hero-boton {
    position: absolute;
    color: #fff;
    right: 150px;
    bottom: 5%;
    padding: 10px 20px;
    border: 1px solid #fff;
}

.hero-boton a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}


/* ========================= */
/* FECHA */
/* ========================= */

.hero-fecha {
    position: absolute;
    color: #fff;
    left: 130px;
    bottom: 28%;
}


/* ========================= */
/* ESTILO GENERAL */
/* ========================= */

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    background-color: #eee;
    min-height: 100vh;
    text-align: center;
}
